.login-page{
  width: 500px;
    border: 1px solid #ddd;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 32px 32px 0;
  .ant-form-item-label{
    text-align: left;
  }
}